@model PontoDigital_final.ViewModels.ComentarioViewModel
@{
    ViewData["Title"] = "Comentarios | Ponto Digital";
    ViewData["css"] = "aprovar_comentarios-style.css";
}

<main class="container">
    <div class="content">

    
    @if (Model.ListaDeComentarios.Count == 0)
    {
        <h2>Resultado não encontrado</h2>
        <form method="POST" action='@Url.Action("FiltrarResultados","Administrador")'>
                <div class="campo">
                    <label for="id">Filtrar por ID do comentário</label>
                    <input type="text" name="id" placeholder="ID do comentário">
                </div>
                <div class="campo">
                    <label for="data">Filtrar por Data</label>
                    <input type="date" name="data" id="data">
                </div>
                <input type="submit" value="Filtrar">
            </form>
    } else 
    {
        <h2>Resultados filtrados</h2>

        <form method="POST" action='@Url.Action("FiltrarResultados","Administrador")'>
                <div class="campo">
                    <label for="id">Filtrar por ID do comentário</label>
                    <input type="text" name="id">
                </div>
                <div class="campo">
                    <label for="data">Filtrar por Data</label>
                    <input type="date" name="data" id="data">
                </div>
                <input type="submit" value="Filtrar">
            </form>

        @foreach (var comentario in Model.ListaDeComentarios)
        {
            <div class="pessoa">
                <img src="@comentario.Autor.UrlFoto" alt="Foto de Perfil">
                <div class="texto">
                    <p><b>ID:</b> @comentario.Id</p>
                    <p><b>Autor:</b> @comentario.Autor.Nome - @comentario.Autor.Empresa.Nome</p>
                    <p><b>Comentario feito em:</b> @comentario.DataDoComentario</p>
                    <p><b>Avaliação:</b> @comentario.Assunto</p>
                    <p>@comentario.Mensagem</p>
                    @if (comentario.EstaAprovado == false)
                    {
                        <a href="/Administrador/AprovarComentario?id=@comentario.Id">Aprovar</a>
                    } else
                    {
                        <a href="/Administrador/RecusarComentario?id=@comentario.Id">Não exibir mais</a>
                    }
                </div>
                    
            </div>        
        }
    }
    </div>
</main>